*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
#container{
    padding: 50px 90px;
}
header{
    background-color: #1c1d30;
    padding: 28px 98px;
}
#home{
    background-color: #24263b;
}
.hori{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#brandLogo{
    width: 98px;
}
.navItem{
    list-style-type: none;
    margin-right: 8px;
}
.navItem a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
#social_icons{
    display: flex;
    align-items: center;
    gap: 17px;
    
}
.social {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #24263b;
    border: 2px solid red;
    color: white;
}
.social:hover{
    background-color: red;
}
#home{
    display: flex;
    align-items: center;
}
#Home_left{
    padding: 140px ;
}
#rightCon {
    padding: 140px ;
}